/* GLOBAL */
* {margin:0;padding:0;box-sizing:border-box;font-family:"Poppins",sans-serif;}
body {background:#0a0a0a;color:#fff;overflow-x:hidden;}
a {text-decoration:none;color:#00d9ff;}

/* NAVBAR */
nav {
  display:flex;
  justify-content:center;
  gap:30px;
  padding:25px;
  font-size:1.2rem;
  position:sticky;
  top:0;
  background:#0a0a0af0;
  backdrop-filter:blur(10px);
  z-index:10;
}
nav a {
  transition:0.4s;
}
nav a:hover {
  color:#ff00ea;
  transform:scale(1.2);
  text-shadow:0 0 15px #ff00ea;
}

/* Hero */
.hero {
  height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  animation:fadeIn 2s;
}
h1 {
  font-size:4rem;
  background:linear-gradient(45deg,#00eaff,#0084ff,#ae00ff);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.subtitle {
  font-size:1.6rem;
  margin-top:10px;
  opacity:0;
  animation:fadeUp 2.5s forwards;
}

.btn {
  margin-top:25px;
  padding:14px 40px;
  font-size:1.3rem;
  border-radius:35px;
  background:#0084ff;
  color:#fff;
  transition:0.4s;
}
.btn:hover {
  transform:scale(1.1);
  box-shadow:0 0 25px #00d9ff;
  background:#00d9ff;
}

/* Cards */
.section {
  padding:60px;
}
.card {
  width:80%;
  margin:auto;
  padding:35px;
  background:#111;
  border-radius:18px;
  border:1px solid #222;
  box-shadow:0 0 30px rgba(0,200,255,0.15);
  font-size:1.3rem;
  animation:fadeUp 2s;
}

/* Footer */
footer {
  margin-top:60px;
  padding:25px;
  color:#999;
  font-size:1rem;
  text-align:center;
}

/* Animations */
@keyframes fadeIn {from {opacity:0;} to {opacity:1;}}
@keyframes fadeUp {from {opacity:0;transform:translateY(60px);} to {opacity:1;transform:translateY(0);}}
